.navbarContainer {
  width: 100%;
  height: 100px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLeft {
  font-size: 28px;
  font-weight: 700;
  margin-left: 10px;
}

.navbarRight {
  font-size: 18px;
  font-weight: 700;
  margin-right: 30px;
}
